<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title></title>
	</head>
	<body>
		<div style="display: none">
			<img id="bgImg" src="/assets/bg6.png" width="672" height="390" />
		</div>

		<div style="display: none">
			<img
				id="sliderImg"
				src="/assets/slider2.png"
				width="122"
				height="122"
			/>
		</div>


		<script type="text/javascript" src="/js/opencv.js"></script>
		<script type="module" src="/js/bundle.js"></script>
	</body>
</html>
